<%= javascript_pack_tag 'channels' %>

<div class=" menu-bar ">

  <div class=" user-name ">
    <h1><%= @user.name %></h1>
  </div>

  <% if @user.name == "Mitch" %>
    <div class=" admin-link ">
      <%= link_to "Admin", admin_index_path %>
    </div>
  <% end %>

  <div class=" log-out ">
    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
  </div>

</div>

<%= render 'channels/channel_strip/body_master', user: @user %>

<% @channels.each do |channel| %>
  <%= render 'channels/channel_strip/body', channel: channel, user: @user %>
<% end %>
