<%= render partial: "shared/admin_menu", locals: { title: "Audio" } %>

<div class="port-index-body">
  <h1>Samples</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Path</th>
        <th>Gain</th>
        <th>Bpm</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @samples.each do |sample| %>
        <tr>
          <td><%= sample.name %></td>
          <td><%= sample.path %></td>
          <td><%= sample.gain %></td>
          <td><%= sample.bpm %></td>
          <td><%= link_to 'Edit', edit_sample_path(sample) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="link-new">
    <%= link_to 'New', new_sample_path %>, 
    <%= link_to 'Upload' %>
  </div>

  <h1>Clicks</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Path</th>
        <th>Gain</th>
        <th>Is High</th>
        <th>Is Active</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clicks.each do |click| %>
        <tr>
          <td><%= click.name %></td>
          <td><%= click.path %></td>
          <td><%= click.gain %></td>
          <td><%= click.is_high ? "Yes" : "No" %></td>
          <td><%= click.is_active ? "Yes" : "No" %></td>
          <td><%= link_to 'Edit', edit_click_path(click) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="link-new">
    <%= link_to 'New', new_click_path %>
  </div>
</div>
