<%= render partial: "shared/admin_menu", locals: { title: "Ports" } %>

<%= form_with(model: @port, local: true) do |form| %>
  <% if @port.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@port.errors.count, "error") %> prohibited this port from being saved:</h2>

      <ul>
      <% @port.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class=" table left no-border ">
    <tbody>
      <tr class="field">
        <td><strong>Name: </strong></td>
        <td><%= form.text_field :name %></td>
      </tr>
      <tr class="field" hidden>
        <td><strong>Is Input?</strong></td>
        <td><%= form.check_box :io %></td>
      </tr>
      <tr class="field">
        <td><strong>Path: </strong></td>
        <% if @port.io %>
          <td><%= form.select :path, options_for_select([
            "system:capture_1",
            "system:capture_2",
            "system:capture_3",
            "system:capture_4",
            "system:capture_5",
            "system:capture_6",
            "system:capture_7",
            "system:capture_8",
          ], @port.path) %></td>
        <% else %>
          <td><%= form.select :path, options_for_select([
            "system:playback_1",
            "system:playback_2",
            "system:playback_3",
            "system:playback_4",
            "system:playback_5",
            "system:playback_6",
            "system:playback_7",
            "system:playback_8",
            "system:playback_9",
            "system:playback_10",
          ], @port.path) %></td>
        <% end %>
      </tr>
      <tr class="field">
        <td><strong>Pan: </strong></td>
        <td><%= form.text_field :pan %></td>
      </tr>
      <tr class="field">
        <td><strong>Port Group: </strong></td>
        <td><%= form.select :port_group_id,
          options_from_collection_for_select(
            PortGroup.where(io: @port.io),
            'id',
            'name',
            @port.port_group_id
          ) %></td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<div class=" link-delete ">
  <%= link_to "Delete",  @port, method: :delete, data: { confirm: "Are you sure you want to delete this port?" } %>
</div>
