<button id="channel_<%= channel_id %>_button"
        data-id="<%= channel_id %>"
        class=" <%= type %> "
        data-type="<%= type %>"
        hidden>
        <%= type.capitalize %>
</button>
