<%= render partial: "shared/admin_menu", locals: { title: "Clip" } %>

<%= form_with(model: @clip, local: true) do |form| %>
  <% if @clip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clip.errors.count, "error") %> prohibited this clip from being saved:</h2>

      <ul>
      <% @clip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table left no-border">
    <tbody>
      <tr class="field">
        <td><strong>Name: </strong></td>
        <td><%= form.text_field :name %></td>
      </tr>
      <tr class="field">
        <td><strong>Path: </strong></td>
        <td><%= form.text_field :path %></td>
      </tr>
      <tr class="field">
        <td><strong>Gain: </strong></td>
        <td><%= form.text_field :gain %></td>
      </tr>
      <tr class="field">
        <td><strong>Start: </strong></td>
        <td><%= form.text_field :start %></td>
      </tr>
      <tr class="field">
        <td><strong>End: </strong></td>
        <td><%= form.text_field :end %></td>
      </tr>
      <tr class="field">
        <td><strong>Bpm: </strong></td>
        <td><%= form.number_field :bpm %></td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<div class=" link-delete ">
  <%= link_to "Delete", @clip, method: :delete, data: { confirm: "Are you sure you want to delete this clip?" } %>
</div>
