<%= render partial: "shared/admin_menu", locals: { title: "Admin" } %>

<ul class=" link-list ">
  <li><%= link_to "Ports & Port Groups", ports_path %></li>
  <li><%= link_to "Audio Clips", clips_path %></li>
  <li><%= link_to "Recording & Uploading" %></li>
  <li><%= link_to "Wifi Setup",  wifis_path %></li>
  <li><%= link_to "Midi Controllers" %></li>
</ul>
