<div class=" menu-bar ">

  <div class=" user-name ">
    <h1>Admin</h1>
  </div>

  <div class=" admin-link ">
    <%= link_to "Admin" %>
  </div>

  <div class=" log-out ">
    <%= link_to "Back", channels_path %>
  </div>

</div>

<ul class=" link-list ">
  <li><%= link_to "Ports & Port Groups" %></li>
  <li><%= link_to "Audio Samples & Clicks" %></li>
  <li><%= link_to "Recording & Uploading" %></li>
  <li><%= link_to "Wifi Setup" %></li>
  <li><%= link_to "Midi Controllers" %></li>
</ul>
