<%= render partial: "shared/admin_menu", locals: { title: "Audio" } %>

<div class="port-index-body">
  <h1>Clicks</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Path</th>
        <th>Gain</th>
        <th>Is High</th>
        <th>Is Active</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clicks.each do |click| %>
        <tr>
          <td><%= click.name %></td>
          <td><%= click.path %></td>
          <td><%= click.gain %></td>
          <td><%= click.is_high %></td>
          <td><%= click.is_active %></td>
          <td><%= link_to 'Edit', edit_click_path(click) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="link-new">
    <%= link_to 'New', new_click_path %>, 
    <%= link_to 'Upload' %>
  </div>
</div>
